doctype html
html
  head
    title Password Changed
  body
    h1 Hello #{username},
    p Your password was successfully changed.
    p If you didn't make this change, please contact support immediately.
    footer
      p Thank you,
      p The Support Team
